<h1>See all cocktails</h1>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
      <img src="https://source.unsplash.com/featured/?<%= cocktail.name %>" />
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
    </div>
  <% end %>
</div>
