<h1>See all cocktails</h1>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-cocktail">
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key %>
        <% else %>
        <img src="https://source.unsplash.com/featured/?<%= cocktail.name %>" />
        <% end %>
        <div class="card-cocktail-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          <p><%= link_to "Delete", cocktail_path(cocktail), method: :delete %></p>
        </div>
    </div>
  <% end %>
</div>
